*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    
}

.container{
    display: flex;
    width: 100vw;
}

.bg-image{
    flex: 0.5;
    background-size: cover;
    border-radius: 50px;
    height: 500px;
}

.image-1{
    background-image: url('https://wallpapercave.com/wp/wp7043679.jpg');
}
.image-2{
    background-image: url('https://imgs.search.brave.com/2wAVVCY6n7Hbr7BbggcNmjImk1H6DXiePVc9c6bQsqM/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL00v/TVY1Qll6Y3dZamt3/T1RZdE5UUXlZaTAw/TnpZeExUZzRNR1V0/WmpnNVlUZGlPR0U1/TmpVelhrRXlYa0Zx/Y0djQC5qcGc');
}
.image-3{
    background-image: url('https://imgs.search.brave.com/pBa53Vh6naHHKycBGYJIKM-axk4e8IkGiA5XVbn_SNQ/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL00v/TVY1Qk1UVXdNREkx/TlRFeE1sNUJNbDVC/YW5CblhrRnRaVGd3/T0RrMk1URTJNREVA/LmpwZw');
}
.image-4{
    background-image: url('https://imgs.search.brave.com/6saehZlQwtJnd9BSewN93zIQ0Mc2yF28VtOdgcOGqRA/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9jZG4u/d2FsbHBhcGVyc2Fm/YXJpLmNvbS8xNS84/L0lUeTNsby5qcGc');
}
.image-5{
    background-image: url('https://imgs.search.brave.com/A2ZbBdqmokaJWzVcgZ_gllD-Yv4tMqe8hiuBST0vgPI/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJiYXQuY29t/L2ltZy80NzQ0MzIt/d2FsbHBhcGVyLW9m/LWNhbGwtb2YtZHV0/eS5qcGc');
}



.slide{
    position: relative;
    flex: 1;
    border-radius: 50px;
    margin: 10px;
    color: #fff;
    cursor: pointer;
    transition: all 1s ease-in-out;

}

.slide h3{
    position: absolute;
    bottom: 60px;
    left: 20px;
    opacity: 0;
    font-size: 24px;
    font-family: "Rubik", sans-serif;
    box-shadow: 0px 0px 10px 0px #fff;
    padding: 2px 10px ;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    border: none;
}

.active{
    flex:3;    
}

.active h3 {
    opacity: 1;
}
.active .bg-image{
    background-color: rgba(0,0,0,0.8);
    transition: all 1s ease-in-out;
    filter: brightness(0.9);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    border-radius: 50px;
    cursor: auto;
    transition: all 1s ease-in-out;
    transform: scale(1.05);
    
}